{% extends 'base.html.twig' %}

{% block title %}Création d'un employé{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('_form') }}
{% endblock %}

{% block body %}
<div class="user-form-container">
    <div class="form-container">
        {{ form_start(formView) }}
        <div class="form-items-container">
            {% if app.request.get('_route') == 'app_admin_user_create' %}
                <div class="form-items">
                    {{ form_row(formView.roles) }}
                </div>
            {% endif %}
            <div class="form-items">
                {{ form_row(formView.gender) }}
            </div>
            <div class="form-items">
                {{ form_row(formView.firstname) }}
            </div>
            <div class="form-items">
                {{ form_row(formView.lastname) }}
            </div>
            <div class="form-items">
                {{ form_row(formView.phone_tel) }}
            </div>
            <div class="form-items">
                {{ form_row(formView.email) }}
            </div>
            <div class="form-items">
                {{ form_row(formView.password.first) }}
            </div>
            <div class="form-items">
                {{ form_row(formView.password.second) }}
            </div>

        </div>

        <div class="submit">
            <button type="submit">Envoyer</button>
        </div>

        {{ form_end(formView) }}
    </div>
</div>
{% endblock %}
