{% extends 'base.html.twig' %}

{% block title %}Vue produit: {{ product.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('productCss') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('productShowJs') }}
{% endblock %}

{% block body %}
    <section class="product-show-wrapper">
        <div id="img-container">
            <div id="img">
                <img class="product-img-show" src="{{ asset('assets/uploads/products/') ~ product.images[0].name }}" alt="">
            </div>
            <div id="img-carousel">
                {% for img in product.images %}
                    <img class="product-img-show-carousel" src="{{ asset('assets/uploads/products/') ~ img.name }}" alt="">
                {% endfor %}
            </div>
        </div>
        <div id="product-description">
        <h3>{{ product.title }}</h3>
            <div class="product-description-wrapper">
                <div id="infos">
                    <span>Catégorie : <b>{{ product.type.type |capitalize}}</b></span>
                    <span class="kilometre">Kilomètrage: <b> {{ product.kilometrages |number_format(0, null, '.')}}km</b></span>
                    <span class="yearsOfRelease">Année: <b> {{ product.yearsOfRelease }}</b></span>
                    <span class="price">Prix: <b> {{ (product.price / 100) |number_format(0, '', '.') }} &euro;</b></span>
                </div>
                <div id="description">
                    <p>{{ product.description |capitalize}}</p>
                </div>

            </div>
        </div>
    </section>
    <section id="allCommentsContainer">
        {% for comment in allComments %}
            {% if (comment.publishedAt is not null) or ("ROLE_MODERATOR" in app.user.roles) %}
                <div class="comment-card {{
                comment.publishedAt is null ? 'not-published-comment' :
                comment.user == app.user ? 'personnal-comment'
                : ''}}">
                    <div id="user-infos">
                        <span><u><b>{{ comment.user.lastname |upper }} {{ comment.user.firstname }}</b></u></span>
                    {% if "ROLE_MODERATOR" in comment.user.roles %}
                        <span class="mini-text">(Modérateur)</span>
                    {% elseif "ROLE_ADMIN" in comment.user.roles %}
                        <span class="mini-text">(Propriétaire)</span>
                    {% endif %}
                    </div>
                    <p>{{ comment.content |capitalize}}</p>
                    <span id="publishe-at" class="mini-text">Publié le: {{ comment.publishedAt ? comment.publishedAt|date("m/d/Y H:i") : '' }}</span>

                {% if "ROLE_MODERATOR" in app.user.roles and comment.publishedAt is null%}
                    <div style="text-align: end; margin: .3em 0">
                        <a style="background: var(--color-success); text-align: end; padding: .2em .3em; border-radius: 10px" href="{{ path('app_comment_validate', {'id': comment.id}) }}">Valider le commentaire</a>
                    </div>

                {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <section id="form-container">
        {{ form_start(commentForm) }}

        <div id="comment">
            {{ form_label(commentForm.content) }}
            {{ form_widget(commentForm.content) }}
            <div id="comment-submit-btn">
                <button type="submit">Envoyer</button>
            </div>
        </div>

        {{ form_end(commentForm) }}
    </section>

    <section id="form-contactMail">
        <h3>Contacter le grarage</h3>
        {{ form_start(contactMailForm) }}

        <div>
            {{ form_row(contactMailForm.email) }}
        </div>
        <div>
            {{ form_row(contactMailForm.firstname) }}
        </div>
        <div>
            {{ form_row(contactMailForm.lastname) }}
        </div>
        <div>
            {{ form_row(contactMailForm.message) }}
        </div>

        <div class="submit">
            <button type="submit">Envoyer</button>
        </div>
        {{ form_end(contactMailForm) }}
    </section>



{% endblock %}