{% extends 'base.html.twig' %}

{% block title %}Véhicules en vente{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('_productCard') }}
    {{ encore_entry_link_tags('_filter') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('productJs') }}
{% endblock %}

{% block body %}
    <h1>Nos différents produits</h1>
    
    <button class="btn" id="btn-filter">Filtrer</button>
    <div class="filters">
        <form id="form-checkbox">
            {% for type in types %}
                <div class="types-filter">
                    <label for="type_{{ type.type }}">{{ type.type|capitalize }}</label>
                    <input type="checkbox" name="type[]" id="type_{{ type.type }}" value="{{ type.id }}">
                </div>
            {% endfor %}
        </form>


        <form id="form-filter" autocomplete="off">
            <div id="filter-container">
                <div class="price-filter">
                    <label for="min_price">Prix minimum</label>
                    <input type="number" name="price-min" id="min_price">

                    <label for="max_price">Prix maximum</label>
                    <input type="number" name="price-max" id="max_price">
                </div>
                <div class="kilometrages-filter">
                    <label for="kilometrages-min">Km min</label>
                    <input type="number" name="km-min" id="kilometrages-min">

                    <label for="kilometrages-max">Km max</label>
                    <input type="number" name="km-max" id="kilometrages-max">
                </div>
                <div class="releaseYear-filter">
                    <label for="releaseYear-min">Année min</label>
                    <input type="number" name="releaseYear-min" id="releaseYear-min">

                    <label for="releaseYear-max">Année max</label>
                    <input type="number" name="releaseYear-max" id="releaseYear-max">
                </div>
            </div>
        </form>

    </div>

    <div id="order-container">

        <select name="order-select" id="order-select">
            <option value="" disabled selected>-- Choisir un ordre --</option>
            <option value="name_ASC">Nom croissant</option>
            <option value="name_DESC">Nom décroissant</option>
            <option value="price_ASC">Prix croissant</option>
            <option value="price_DESC">Prix décroissant</option>
            <option value="created_ASC">Date de création décroissant</option>
            <option value="created_DESC">Date de creéation décroissant</option>
        </select>
    </div>

    <ul id="product-grid">
        {% include "_components/_product-card.html.twig" %}
    </ul>

{% endblock %}
