{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contactCss') }}
{% endblock %}

{% block body %}
    
    <h1>Aide et contact</h1>

{#    <table>#}
{#        <thead>#}
{#        <tr>#}
{#            <th>jour</th>#}
{#            <th>matin-ouvert</th>#}
{#            <th>matin-fermé</th>#}
{#            <th>pm-ouvert</th>#}
{#            <th>pm-fermé</th>#}
{#        </tr>#}
{#        </thead>#}
{#    {% for hours in openingHours %}#}
{#        <tr>#}
{#            <td>{{ hours.weekday }}</td>#}
{#            <td>{{ hours.closeday != true#}
{#                ? hours.amopen | slice(0,2) ~ ':' ~ hours.amopen | slice(2,2)#}
{#                : '' }}</td>#}
{#            <td>{{ hours.closeday != true#}
{#                ? hours.amclose | slice(0,2)  ~ ':' ~ hours.amclose | slice(2,2)#}
{#                : ''}}</td>#}
{#            <td>{{ (hours.pmopen is not empty)#}
{#                ? hours.pmopen | slice(0,2) ~ ':' ~ hours.pmopen | slice(2,2)#}
{#                : hours.closeday == true ? ''#}
{#                : 'fermé' }}</td>#}
{#            <td>{{ (hours.pmclose is not empty)#}
{#                ? hours.pmclose | slice(0,2) ~ ':' ~ hours.pmclose | slice(2,2)#}
{#                : hours.closeday == true ? ''#}
{#                : 'fermé' }}</td>#}
{#            <td>{{ hours.closeday }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}

{#        {% for hours in openingHours %}#}
{#            <tr>#}
{#                <td>{{ hours.day }}</td>#}
{#                <td>{{ hours.amopen }}</td>#}
{#                <td>{{ hours.amclose }}</td>#}
{#                <td>{{ hours.pmopen }}</td>#}
{#                <td>{{ hours.pmclose }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}

    <div class="hours-contact">
        <h4>Horaires d'ouverture</h4>
        <ul>
            {% for hours in openingHours %}
                <li>
                    <div>{{ hours.day }}</div>
                    <div class="hours">
                    {% if hours.dayclose != true %}
                        <span>{{ hours.amopen }}</span>
                        <span>{{ hours.amclose }}</span>
                        <span>{{ hours.pmopen }}</span>
                        <span>{{ hours.pmclose }}</span>
                    {% else %}
                        <span class="closed-hour">Fermé</span>
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="client-informations">
        <div>{{ clientsInformations.entrepriseName }}</div>
        <div>{{ clientsInformations.description }}</div>
        <div>{{ clientsInformations.history }}</div>
        <span>Addresse: {{ clientsInformations.addressNumber }} {{ clientsInformations.addressStreet }} - {{ clientsInformations.addressCity }} {{ clientsInformations.addressZipcode }}</span>
        <div>N° de téléphone: <a href="tel:{{ clientsInformations.tel }}">{{ clientsInformations.tel }}</a> </div>
        <div>N° Siret: {{ clientsInformations.siretNumber }}</div>
    </div>

{% endblock %}
