{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contactCss') }}
{% endblock %}

{% block body %}
    
    <h1>Aide et contact</h1>

    <section id="contact-hours-and-contact-mail">
        <div class="hours-contact">
            <h4>Horaires d'ouverture</h4>
            <ul>
                {% for hours in openingHours %}
                    <li>
                        <span>{{ hours.weekDay|capitalize }}</span>
                        <div class="hours">
                        {% if hours.closeDay != true %}
                            <span>{{ (hours.amOpen) ? hours.amopen|date("H:i") : '' }}</span>
                            <span>{{ (hours.amClose) ? hours.amClose|date("H:i") : '' }}</span>
                            <span>{{ (hours.pmOpen) ? hours.pmOpen|date("H:i") : '' }}</span>
                            <span>{{ (hours.pmClose) ? hours.pmClose|date("H:i") : '' }}</span>
                        {% else %}
                            <span class="closed-hour">Fermé</span>
                        {% endif %}
                        </div>
                        {% if  app.user and ("ROLE_ADMIN" in app.user.roles) %}
                            <a class="mini-text" href="{{ path('app_admin_contact_edit', {'week_day': hours.weekDay}) }}">(éditer)</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="contact-mail">
            <h3>Contacter le grarage</h3>
            {{ form_start(contactMailForm) }}

            <div>
                {{ form_row(contactMailForm.email) }}
            </div>
            <div>
                {{ form_row(contactMailForm.firstname) }}
            </div>
            <div>
                {{ form_row(contactMailForm.lastname) }}
            </div>
            <div>
                {{ form_row(contactMailForm.message) }}
            </div>

            <div class="submit">
                <button type="submit">Envoyer</button>
            </div>
            {{ form_end(contactMailForm) }}
        </div>
    </section>

    <section class="client-informations">
        <div id="informations">
            <div>{{ clientsInformations.entrepriseName }}</div>
            <div>{{ clientsInformations.description }}</div>
            <div>{{ clientsInformations.history }}</div>
            <span>Addresse: {{ clientsInformations.addressNumber }} {{ clientsInformations.addressStreet }} - {{ clientsInformations.addressCity }} {{ clientsInformations.addressZipcode }}</span>
            <div>N° de téléphone: <a href="tel:{{ clientsInformations.tel }}">{{ clientsInformations.tel }}</a> </div>
            <div>N° Siret: {{ clientsInformations.siretNumber }}</div>
        </div>
        <div id="informations-logo">
            <img src="{{ asset('assets/logo/Gros-logo.svg') }}" width="100%" height="auto" alt="Logo du garage V.Parrot">
        </div>
    </section>

{% endblock %}
