{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

{#    <table>#}
{#        <thead>#}
{#        <tr>#}
{#            <th>jour</th>#}
{#            <th>matin-ouvert</th>#}
{#            <th>matin-fermé</th>#}
{#            <th>pm-ouvert</th>#}
{#            <th>pm-fermé</th>#}
{#        </tr>#}
{#        </thead>#}
{#    {% for hours in openingHours %}#}
{#        <tr>#}
{#            <td>{{ hours.weekday }}</td>#}
{#            <td>{{ hours.closeday != true#}
{#                ? hours.amopen | slice(0,2) ~ ':' ~ hours.amopen | slice(2,2)#}
{#                : '' }}</td>#}
{#            <td>{{ hours.closeday != true#}
{#                ? hours.amclose | slice(0,2)  ~ ':' ~ hours.amclose | slice(2,2)#}
{#                : ''}}</td>#}
{#            <td>{{ (hours.pmopen is not empty)#}
{#                ? hours.pmopen | slice(0,2) ~ ':' ~ hours.pmopen | slice(2,2)#}
{#                : hours.closeday == true ? ''#}
{#                : 'fermé' }}</td>#}
{#            <td>{{ (hours.pmclose is not empty)#}
{#                ? hours.pmclose | slice(0,2) ~ ':' ~ hours.pmclose | slice(2,2)#}
{#                : hours.closeday == true ? ''#}
{#                : 'fermé' }}</td>#}
{#            <td>{{ hours.closeday }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}

{#        {% for hours in openingHours %}#}
{#            <tr>#}
{#                <td>{{ hours.day }}</td>#}
{#                <td>{{ hours.amopen }}</td>#}
{#                <td>{{ hours.amclose }}</td>#}
{#                <td>{{ hours.pmopen }}</td>#}
{#                <td>{{ hours.pmclose }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}

    <div class="hours">
        <span>Horaires d'ouverture</span>
        <ul>
            {% for hours in openingHours %}
                <li>
                    <span>{{ hours.day }}</span>
                    {% if hours.dayclose != true %}
                        <span>{{ hours.amopen }}</span>
                        <span>{{ hours.amclose }}</span>
                        <span>{{ hours.pmopen }}</span>
                        <span>{{ hours.pmclose }}</span>
                    {% else %}
                        <span>Fermé</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>



{% endblock %}
