<nav>
    <div class="nav-container">
        <div class="left-navbar">
            <a id="logo-link" href="{{ path('app_home') }}">
                <img src="" alt="Logo du garage V.Parrot">
            </a>
            <ul class="list-container">
                <li>
                    <a href="{{ path('app_services') }}">Prestations</a>
                </li>
                <li>
                    <a href="{{ path('app_products_buying') }}">Achats</a>
                </li>
                <li>
                    <a href="{{ path('app_products_selling') }}">Vente</a>
                </li>
                <li>
                    <a href="{{ path('app_contact') }}">Contact</a>
                </li>
            </ul>
        </div>
        <div class="search-bar">
            <div class="search-container">
                <input id="search-input" type="text">
            </div>
        </div>
        <div class="right-navbar">
            <div class="account-items">
                <ul>
                    <li>
                        <a href="#" class="btn" id="register">Inscription</a>
                    </li>
                    <li>
                        <a href="#" class="btn" id="login">Connexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>