{% extends 'base.html.twig' %}

{% block title %}Hello AdminContactController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contactJs') }}
{% endblock %}

{% block body %}

    <form action="">

        {% for hour in hours %}
            <span>{{ hour.day }}</span>
            <input class="hoursInput" type="time" name="{{ hour.day }}_am_open" value="{{ hour.amopen }}">
            <input class="hoursInput" type="time" name="{{ hour.day }}_am_close" value="{{ hour.amclose }}">
            <input class="hoursInput" type="time" name="{{ hour.day }}_pm_open" value="{{ hour.pmopen }}">
            <input class="hoursInput" type="time" name="{{ hour.day }}_pm_close" value="{{ hour.pmclose }}">
            {% if hour.dayclose == true %}
                <input type="checkbox" name="{{ hour.day }}_close_day" checked>
            {% else %}
                <input type="checkbox" name="{{ hour.day }}_close_day">
            {% endif %}

        {% endfor %}

        <button type="submit" class="btn">Envoyer</button>

    </form>

    

{% endblock %}
