{% extends 'base.html.twig' %}

{% block title %}Hello AdminContactController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contactCss') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contactJs') }}
{% endblock %}

{% block body %}
    
    <h1>Modifications des horaires d'ouvertures</h1>
    

    {{ form_start(formView, {'attr': {'id': 'hours'}}) }}

    <h2>{{ hour.weekDay|capitalize }}</h2>

    <div class="close">
        {{ form_row(formView.close_day) }}
    </div>

    <div class="hours-wrapper">
        <div class="hours-item-container">
            <h4>Matin</h4>
            <div class="hours-item am">
                {{ form_widget(formView.am_open) }}
                {{ form_widget(formView.am_close) }}
            </div>
        </div>
        <div class="hours-item-container">
            <h4>Après-midi</h4>
            <div class="hours-item pm">
                {{ form_widget(formView.pm_open) }}
                {{ form_widget(formView.pm_close) }}
            </div>
        </div>

    </div>

    <div class="submit">
        <button type="submit" class="btn">Valider</button>
    </div>

    {{ form_end(formView) }}

    

{% endblock %}
